.main-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 2.5rem;
  width: 100%;
  overflow-y: auto;
  height: 100vh;
}

@media (max-width: 1024px) {
  .main-content {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 1rem;
    padding-bottom: 5rem; /* Space for mobile nav if needed */
  }
}
